/* --------------------------------------------------------
  Grids and Rules
-------------------------------------------------------- */
.cell0 { float:left; width:04.1666%; }
.cell1 { float:left; width:08.3333%; }
.cell2 { float:left; width:16.6666%; }
.cell3 { float:left; width:25.0000%; }
.cell4 { float:left; width:33.3333%; }
.cell5 { float:left; width:41.6666%; }
.cell6 { float:left; width:50.0000%; }
.cell7 { float:left; width:58.3333%; }
.cell8 { float:left; width:66.6666%; }
.cell9 { float:left; width:75.0000%; }
.cell10 { float:left; width:83.3333%; }
.cell11 { float:left; width:91.6666%; }
.cell12 { float:left; width:100.0000%; }

.marginL { margin-left: 08.3333%; }
.marginR {margin-right:60px;}

.pad0 {padding:40px 20px;}
.pad1 {padding:20px;}

/* clearfix */
.cf:before,
.cf:after {
  content:"";
  display:table;
  }

.cf:after {
  clear:both;
  }

/* --------------------------------------------------------
  Colors
-------------------------------------------------------- */
.fillG {background-color:#f1f1f1;}
.fillW {background-color:#fff;}

/* --------------------------------------------------------
  Typography
-------------------------------------------------------- */

/* tagname hierarchy
h1: guide title
h2: sections within a guide
h3: subsections within a section
h4: used outside of guides
h5: none
h6: none
*/

body {
  font: normal 12px/20px 'Source Sans Pro','OpenSansRegular','Helvetica Neue',Helvetica,Verdana,Arial,sans-serif;
  color: #333;
  padding: 0;
  font-size: 15px;
  line-height: 1.68em;
  }
h2,h3,h4,h5,h6 {
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  }
h1 a,h2 a,h3 a,h4 a,h5 a,h6 a {
  color: #404040;
  }
h1 {
  color: #79bc5f;
  font-size: 24px;
  margin-bottom:18px;
  }
h2 {
  text-transform:uppercase;
  font-size: 18px;
  margin-bottom:12px;
  }
h3 {
  font-size: 16px;
  margin-bottom:12px;
  }
h4 {
  font-size: 16px;
  margin-bottom:26px;
  }
p, ul{
  margin: 0 0 20px;
  line-height:28px;
  }

a {
  text-decoration: none;
  color: #808080;
  }

a:hover {
  color: #79bc5f;
}

small {
  font-size:12px;
}

pre {
  background-color: #f5f5f5;
  padding: 10px;
  margin: 10px 0;
  font-family: monospace;
}

.doc li, .doc p {
  font-family:'Quattrocento',serif;
  list-style-type: square;
 }
.doc li {
  margin:0 0 20px 0;
}
.doc li p {
  margin:0; /* p and ul inside of an li does not need bottom margins*/
}
.doc li ul {
  margin:0 0 0 20px;
}
.doc li ul li {
  list-style-type: circle;
}
/* --------------------------------------------------------
  Layout
-------------------------------------------------------- */
.rounded {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -webkit-transition: all 200ms linear;
  -o-transition: all 200ms linear;
}

img {
  margin:20px 0;
  padding:6px;
  display: block;
  max-width: 380px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, .3);
  }

input {
  border:none;
  font-size:14px;
  color:#ccc;
  padding:4px 20px;
}

input[type='submit']{
  float:right;
  color:#fff;
  background:#efefef;
  cursor:pointer;
}

input[type='submit']:hover{
  background:#ccc;
}

.logo {
  display:block;
  background:url(./images/sprite.png) no-repeat;
  width:16px;
  height:20px;
  margin-right:20px;
  }
.logo-learn {
  width:170px;
  height:42px;
  background-position:0px -44px;
  }
.logo-hot {
  position:absolute;
  margin:10px 0;
  width:62px;
  height:38px;
  background-position:0 0;
  }
.logo-ausaid {
  margin: 14px 80px;
  width:90px;
  height:40px;
  background-position:-76px 0;
  }

.email:before,.twitter:before,.translation:before,
.email:hover:before,.twitter:hover:before,.translation:hover:before {
  content:'';
  float:left;
  margin-right:20px;
  width:16px;
  height:20px;
  background:url(./images/sprite.png) no-repeat;
  overflow:hidden;
}
.email:before {background-position:-19px -87px;}
.email:hover:before {background-position:-19px -107px;}
.twitter:before {background-position:-50px -87px;}
.twitter:hover:before {background-position:-50px -107px;}
.translation:before {background-position:-80px -87px;}
.translation:hover:before {background-position:-80px -107px;}

.searchbox {
  height:30px;
  border:4px solid #f1f1f1;
  }

.faqbox h4 {margin-bottom:48px;
  }

.faq li {padding:4px 0;}

.faq li a:before {
  content:'';
  float:left;
  margin-top: 7px;
  width:16px;
  height:20px;
  background:url(./images/sprite.png) 2px -94px no-repeat;
  overflow:hidden;
  }
.faq li a:hover:before {
  background-position:2px -114px;
  }

.language-switcher {
  padding:6px 20px;
  }

.language-switcher a.active {
  color: #79bc5f;
  text-decoration: none;
  cursor: default;
  }

/* doc page */
.doc .title{
  border-top:1px solid #f1f1f1;
  border-left:1px solid #f1f1f1;
  border-right:1px solid #f1f1f1;
  }
.doc .title:last-child{
  border-bottom:1px solid #f1f1f1;
  }
.doc .cover {
  background:#f1f1f1;
  }

.doc .cover .title a:hover{
  background:#e7e7e7;
  color:#808080;
  }
.doc .title a {
  display:block;
  padding:10px 0 10px 10px;
  }

.doc .title a:hover {
  background:#79bc5f;
  color:#fff;
  transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -webkit-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  }

.doc h2,
.doc h3 {
  cursor:pointer;
  }

.doc h2:target,
.doc h3:target {
  color:#79bc5f;
  }

.doc h2:before,
.doc h3:before {
  content:'';
  float:left;
  margin:6px 6px 0px -21px;
  width:16px;
  height:20px;
  background:url(./images/sprite.png) -109px -92px no-repeat;
  overflow:hidden;
  }
.doc h2:hover:before,
.doc h3:hover:before {
  background-position: -109px -112px;
  }

