/* --------------------------------------------------------
  Grids and Rules
-------------------------------------------------------- */
.cell0 { float:left; width:04.1666%; }
.cell1 { float:left; width:08.3333%; }
.cell2 { float:left; width:16.6666%; }
.cell3 { float:left; width:25.0000%; }
.cell4 { float:left; width:33.3333%; }
.cell5 { float:left; width:41.6666%; }
.cell6 { float:left; width:50.0000%; }
.cell7 { float:left; width:58.3333%; }
.cell8 { float:left; width:66.6666%; }
.cell9 { float:left; width:75.0000%; }
.cell10 { float:left; width:83.3333%; }
.cell11 { float:left; width:91.6666%; }
.cell12 { float:left; width:100.0000%; }
.right {float:right;}

.marginL { margin-left: 08.3333%; }
.marginR { margin-right:08.3333%; }
.padAll {padding:20px;}
.padTB {padding:20px 0;}
.padLR {padding:0 20px;}

/* clearfix */
.cf:before,
.cf:after {
  content:'';
  display:table;
  }

.cf:after {
  clear:both;
  }

/* custom list style */
.doc ol,
.doc ul {
  counter-reset:li;
  margin-left:0;
  padding-left:0;
  }
  .doc ol > li,
  .doc ul > li {
    position:relative;
    }
    .doc ol > li:before,
    .doc ul > li:before {
      position:absolute;
      top:-1px;
      left:-3em;
      width:2em;
      font-family:'Source Sans Pro',sans-serif;
      font-size:12px;
      text-align:center;
    }
    .doc ul > li:before {content:'●'}
    .doc ol > li:before {
      content:counter(li);
      counter-increment:li;
      border-radius:50%;
      background:#f0f0f0;
      }
      .doc ol li ul > li:before,
      .doc ul li ul > li:before {content:'➝';}

/* --------------------------------------------------------
  Colors
-------------------------------------------------------- */
.fillG {background-color:#f0f0f0;}
.fillW {background-color:#fff;}

/* --------------------------------------------------------
  Typography
-------------------------------------------------------- */

/* tagname hierarchy
h1: guide title
h2: sections within a guide
h3: subsections within a section
h4: bolded text (same styling as h3, but will not be linkable)
pre: code for translation stats
blockquote: footnotes, anything with NOTE tag that's secondary
*/

body {
  font: normal 12px/20px 'Source Sans Pro','OpenSansRegular','Helvetica Neue',Helvetica,Verdana,Arial,sans-serif;
  color: #404040;
  padding: 0;
  font-size: 15px;
  line-height: 1.68em;
  }
h2,h3,h4,h5,h6 {
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  }
h1 {
  color: #79bc5f;
  font-size: 22px;
  margin:20px 0 34px;
  }
h2 {
  text-transform:uppercase;
  font-size: 18px;
  margin-bottom:12px;
  }
h3 {
  font-size: 16px;
  margin-bottom:12px;
  }
h4 {
  font-size: 16px;
  margin-bottom:26px;
  }
p {
  margin: 0 0 20px;
  line-height:28px;
  }
a {
  text-decoration: none;
  color: #404040;
  }

a:hover {
  color: #79bc5f;
}
em {font-style:italic;}
strong {font-weight:700;}

.doc ul {margin: 20px 0;}
.doc li,.doc p {font-family:'Quattrocento',serif;}
.doc li {margin-left:30px;}
.doc li a, .doc p a {color: #79bc5f;}

small {
  font-size:12px;
  line-height:16px;
}

img {
  display: block;
/*  max-width: 100px;*/
  border:1px solid #ddd;
  padding:2px;
}

/* code */
pre {
  background-color: #f5f5f5;
  padding: 10px;
  margin: 10px 0;
  font-family: monospace;
}

/* footnotes in the google docs */
blockquote p{
  border: 2px dashed #f0f0f0;
  padding: 0 32px 20px 32px;
  font: normal 12px/32px 'Source Sans Pro','OpenSansRegular','Helvetica Neue', sans-serif !important;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

blockquote p:before {
  content:'NOTE:';
  display:block;
  margin:10px 0;
  font-weight:700;
}

.rounded {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -webkit-transition: all 200ms linear;
  -o-transition: all 200ms linear;
}

/* --------------------------------------------------------
  Layout
-------------------------------------------------------- */
html,
body {
  margin:0;
  padding:0;
  height:100%;
}
#wrapper {
  min-height:100%;
  position:relative;
}
#content {
  padding-bottom:180px;
}
#footer {
  width:100%;
  position:absolute;
  padding-top:30px;
  bottom:0;
  left:0;
}
.language-switcher {
  padding:6px 20px;
  }
  .language-switcher a.active {
    color: #79bc5f;
    text-decoration: none;
    cursor: default;
    }
#header {
  padding:20px 0px;
  background: #fff url(./images/sprites/dot.png) repeat-x bottom;
  }
#header .banner {
    position:absolute;
    right:0;
    background: transparent url(./images/sprites/sprite.png)  -324px -16px;
    margin-top:10px;
    width: 60px;
    height: 60px;
    transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -webkit-transition: all 200ms linear;
    -o-transition: all 200ms linear;
  }
  #header .banner span {
    display:block;
    color: #79bc5f;
    text-transform:uppercase;
    font-size:12px;
    font-weight:700;
    padding:6px 0 0 80px;
  }
  #header .banner.active {
    width:188px;
  }
#header .ourguides span{
  font-weight:700;
}


#ads a{
  display:block;
  color:#4d4d4d;
  padding:10px 20px;
  border-radius:5px;
  text-transform:capitalize;
  transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -webkit-transition: all 200ms linear;
  -o-transition: all 200ms linear;
}
#ads a span {
  display:block;
  font-weight:700;
}
#ads a:hover {color:#101010;}
#ads .ad1 a {height:160px;background:#98d584;margin-right:20px;}
#ads .ad2 a {height:60px; background:#ffd429;margin-bottom:20px;}
#ads .ad3 a {height:60px; background:#7abeff;}
  #ads .ad2 a:hover {background:#f0ca42;}
  #ads .ad3 a:hover {background:#90c4f5;}
    #ads .ad1 a:after {
      content:'';
      float:right;
      height:180px;
      width:100px;
      margin-top:-60px;
      margin-right:-20px;
      background:transparent url(./images/sprites/sprite.png);
/*      background-position:-290px -198px;*/
      background-position:-270px -198px;
    }
/*    #ads .ad1 a:hover:after {
      background-position:-270px -198px;
    }*/
.logo {
  display:block;
  background:url(./images/sprites/sprite.png) no-repeat;
  width:16px;
  height:20px;
  margin-right:20px;
  }
  .logo-learn {
    width:170px;
    height:42px;
    margin-bottom:8px;
    background-position:0px -44px;
    }
  .logo-hot {
    position:absolute;
    margin:10px 0;
    width:62px;
    height:38px;
    background-position:0 0;
    }
  .logo-ausaid {
    margin: 14px 80px;
    width:90px;
    height:40px;
    background-position:-76px 0;
    }

/* footer */
.contact li {margin-bottom:20px;}
  .email:before,.twitter:before,.translation:before,
  .email:hover:before,.twitter:hover:before,.translation:hover:before {
    content:'';
    float:left;
    margin:-5px 18px 0 0;
    width:16px;
    height:20px;
    background:url(./images/sprites/sprite.png) no-repeat;
    overflow:hidden;
  }
    .email:before {background-position:-19px -87px;}
    .email:hover:before {background-position:-19px -107px;}
    .twitter:before {background-position:-50px -87px;}
    .twitter:hover:before {background-position:-50px -107px;}
    .translation:before {background-position:-80px -87px;}
    .translation:hover:before {background-position:-80px -107px;}

.searchbox {
  height:32px;
  border:4px solid #f0f0f0;
  }
  .searchbox input {
    border:none;
    padding:4px 0px 4px 20px;
    font-size:16px;
    font-family:'Source Sans Pro',sans-serif;
  }
  .logo-search {
    float:left;
    margin-left:3px;
    width: 30px;
    height: 30px;
    background-position:-152px -79px;
  }
  input.default-value {
    color:#ccc !important;
    font-style: italic;
  }
.searchbox-default {
  padding-right:08.3333%;
  float:right;
}
.searchbox-default input {
  border:none;
  margin-top:7px;
}
/* overriding default jquery ui css for autocomplete */
.ui-corner-all {
  -moz-border-radius:   0px !important;
  -webkit-border-radius:0px !important;
  -khtml-border-radius: 0px !important;
  border-radius:        0px !important;
  }
.ui-menu {
  border:none !important;
  }
.ui-menu-item {
  border:1px solid #f0f0f0 !important;
  font-family:'Source Sans Pro',sans-serif;
  font-size:14px;
  cursor:pointer;
  }
  .ui-menu-item a {
    display:block !important;
    padding:4px 14px !important;
  }
.ui-state-default, .ui-state-hover, .ui-state-focus {
  border:1px solid #fff !important;
  background:#79bc5f !important;
  color:#fff !important;
  }

/* faq */
.faqbox h4 {margin-bottom:46px;}
.faq li {
  margin:4px 0;
  padding:1px 0 0 0;
  }
  .faq li a:before {
    content:'';
    float:left;
    margin-top: 8px;
    width:16px;
    height:20px;
    background:url(./images/sprites/sprite.png) 2px -94px no-repeat;
    overflow:hidden;
    }
  .faq li a:hover:before {background-position:2px -114px;}

/* doc nav */
.doc-nav {
  position:absolute;
}
.doc-nav.fixed {
  position:fixed;
  top:10px;
}
.doc-nav ul li:first-child a{
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius:5px;
  -moz-border-radius-topleft:     5px;
  -moz-border-radius-topright:    5px;
  border-top-left-radius:         5px;
  border-top-right-radius:        5px;
}
.doc-nav ul li:last-child a{
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius:  5px;
  -moz-border-radius-bottomright:     5px;
  -moz-border-radius-bottomleft:      5px;
  border-bottom-right-radius:         5px;
  border-bottom-left-radius:          5px;
}
.doc-main {
  margin-left:33.3333%;
  min-height:540px;
}
.doc .title{
  display:block;
  padding:10px;
  background:#f0f0f0;
  }
  .doc .title.active {
    background:#79bc5f;
    color:#fff;
    }
    .doc .title span:before {
      content:'▸';
      margin-right:8px;
    }
  .doc .title.cover,
  .doc .title.cover:hover,
  .doc .title.cover.active {
    font-size:12px;
    text-transform:uppercase;
    font-weight:700;
    text-align:center;
    background: #fff;
    padding:8px;
    color:#404040;
    border-top: 4px solid   #f0f0f0;
    border-left: 4px solid  #f0f0f0;
    border-right: 4px solid #f0f0f0;
}
    .doc .cover span:before {
      content:'';
    }

/* training and feedback boxes*/
.training, .feedback {
  padding-top:40px;
  display:block;
  color:#404040;
  background: #fff url(./images/sprites/dot.png) repeat-x top;
}
  .training span, .feedback span {display:block;font-weight:700;}
  .training a, .feedback a {color: #79bc5f;}
    .training span:before, .training span:after, .feedback span:before {
      content:'';
      display:block;
      height: 48px;
      width: 70px;
      float:left;
      background: url(./images/sprites/sprite.png);
    }
    .training span:before {background-position: -350px -95px; margin-right: 32px;}
    .training span:after {background-position: -412px -95px; float:right;}
    .feedback span:before {background-position:-508px -100px; margin-right: 32px;}
/* doc content */
.doc h2,
.doc h3 {
  cursor:pointer;
  }
  .doc h2:hover,.doc h2:target,
  .doc h3:hover,.doc h3:target {
    color:#79bc5f;
    }
  .doc h2:before,
  .doc h3:before {
    content:'';
    float:left;
    margin:6px 6px 0px -21px;
    width:16px;
    height:20px;
    background:url(./images/sprites/sprite.png) -109px -92px no-repeat;
    overflow:hidden;
    }
  .doc h2:hover:before,.doc h2:target:before,
  .doc h3:hover:before,.doc h3:target:before {
    background-position: -109px -112px;
    }

.fullimage {
  max-width:none;
  position:absolute;
  z-index:10;
  }
  .imageclose {
    background-position:-138px -92px;
    position:absolute;
   }
/*  img:hover,
  .imageclose:hover {
    cursor: pointer;
    }*/

/* contribute page */
.contribute-intro h4, .contribute-links h4 {
  padding:20px 0px;
  margin-left:70px;
}
  .contribute-intro a {color:#79bc5f;}
  .contribute-intro h4:before,.contribute-links h4:before {
    content: '';
    display: inline;
    width: 60px;
    height: 60px;
    position:absolute;
    margin-left:-70px;
    margin-top:-12px;
    background: transparent url(./images/sprites/sprite.png)
  }
  .contribute-intro h4:before {background-position:  -196px -88px;}
  .contribute-links h4:before {background-position: -265px -88px;}

.contribute-links ul li {
  margin:4px 0;
  padding:1px 0 0 0;
  }
  .contribute-links ul li a:before {
    content:'';
    float:left;
    margin-top: 8px;
    width:16px;
    height:20px;
    background:url(./images/sprites/sprite.png) 2px -94px no-repeat;
    overflow:hidden;
  }
  .contribute-links ul li a:hover:before {background-position:2px -114px}

/*404 page*/
.notfound {
  position: relative;
  width: 300px;
  margin-top:80px;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  background:#f6f6f6;
}
.notfound span {
  display:block;
  width:60px;
  height:60px;
  margin:0 auto;
  background:url(./images/sprites/sprite.png) -185px -156px no-repeat;
}
.notfound h1 {
  font-weight:700;
}
.notfound a {
  color:#79bc5f;
}