---
layout: default
---
<div class='cell9 padAll marginL'>
  <div class='cell7 marginR contribute-intro'>
    <h4>{{ page.contributetitle }}</h4>
    <p>{{ content }}</p>
  </div>
  <div class='cell4 contribute-links'>
    <h4>{{page.startwith}}</h4>
    <ul>
      <li><a href='mailto:learnosm@hotosm.org'>{{page.startA}}</a></li>
      <li><a href='https://github.com/hotosm/learnosm/blob/gh-pages/CONTRIBUTING.md'>{{page.startB}}</a></li>
      <li><a href='https://github.com/hotosm/learnosm/issues'>{{page.startC}}</a></li>
      <li><a href='https://github.com/hotosm/learnosm'>{{page.startD}}</a></li>
  </div>
</div>