---
layout: default
---
<div class='cell9 padAll {% if page.dir == "rtl" %} marginR {% else %} marginL {% endif %}'>
  <div class='cell7 {% if page.dir == "rtl" %} marginL {% else %} marginR {% endif %} contribute-intro'>
    <h4>{{ page.contributetitle }}</h4>
    <p>{{ content }}</p>
  </div>
  <div class='cell4 contribute-links'>
    <h4>{{page.startwith}}</h4>
    <ul>
      <li><a href='mailto:learnosm@hotosm.org'>{{page.startA}}</a></li>
      <li><a href='{{site.baseurl}}/en/contribute/translator/'>{{page.startB}}</a></li>
      <li><a href='{{site.baseurl}}/en/contribute/translator-images/'>{{page.startC}}</a></li>
      <li><a href='https://github.com/hotosm/learnosm'>{{page.startD}}</a></li>
  </div>
</div>
