---
layout: default
---
<div class='doc-nav marginL cell2 padAll cf'>
      <ul>

    {% for post in site.categories.[page.category] %}
      {% if {{post.lang}} == {{page.lang}} %}
      <li class='doc rounded'>
        <a class='title {% if {{post.cover}} %}cover{% endif %} {% if page.url == post.url %}active{% endif %}' href="{{site.baseurl}}{{ post.url }}">
          <span>{{ post.title }}</span>
        </a>
      </li>
      {% endif %}
    {% endfor %}

  </ul>
</div>
<div class='doc-main doc cell6 padAll'>
  {% if {{page.cover}} %}
    <h1>Overview</h1>
  {% endif %}
    {{content}}
  {% if {{page.cover}} %}
    <div class='training padAll'>
      <!-- translation needed through post-->
      <span>Are you a workshop organizer?</span>
      Check out the <a href='#'>training material</a> for {{page.title}} Guide.
    </div>
  {% endif %}
  {% unless {{page.cover}} %}
  <div class='feedback padAll'>
    <span>Was this chapter helpful?</span>
    <a href='mailto:learnosm@hotosm.org'>Let us know</a> or
    <a href='{{site.baseurl}}/{{page.lang}}/contribute'>help us improve the guides</a>
  </div>
  {% endunless %}
</div>

<script>
  // loop through the node list to get the innerHTML from each node
  // copy that as the id for the node

  var addId = function(list){
    for (i = 0; i < list.length; i++) {
      element = list[i];
      sectionCopy = element.innerHTML.toLowerCase().replace(/ /g, '-').replace(/([^0-9a-z-])/g,''); //substitute space with dash
      element.id = sectionCopy;
    }
  };

  var allH1 = document.getElementsByTagName('h1');
  var allH2 = document.getElementsByTagName('h2');
  var allH3 = document.getElementsByTagName('h3');
  addId(allH1);
  addId(allH2);
  addId(allH3);

  // make the titles linkable
  $('h2[id], h3[id]','.doc').attr('title', 'Link to this section').click(function(e) {
    chapterName = $('h1[id]','.doc')[0].id;
    window.location.hash = chapterName + "-" + $(e.currentTarget).attr('id');
  });

  // clickable thumbnail
  // $('.doc img').bind('click',function(){
  //     var original = $(this);
  //       var fullimage = $('<img class="fullimage" style="max-width:520px;">')
  //         .attr('src',original.attr('src'))
  //         .css('top',original.prop('offsetTop'))
  //         .bind('click',closeImg);
  //       var close = $('<span class="imageclose logo"></span>')
  //         .css('top',original.prop('offsetTop'))
  //         .css('left',original.prop('offsetLeft') + fullimage.prop('width') + 12)
  //         .bind('click',closeImg);
  //       function closeImg(){
  //         fullimage.remove();
  //         close.remove();
  //       };
  //     // only expand big enough images
  //     if (original.prop('naturalWidth') > 200 ) {
  //       original.parent().append(fullimage).append(close);
  //     }
  //   });

  // make doc-nav sticky
  // TODO make the fixed element not conflict with footer
  {% unless {{page.cover}} %} // excluding cover pages
  var nav = $('.doc-nav'),
      navTop = nav.offset().top;

  $(window).scroll(function(e){
    var windowTop = $(this).scrollTop();
    if (windowTop >= navTop) {
      nav.addClass('fixed');
    } else {
      nav.removeClass('fixed');
    }
  });
  {% endunless %}

</script>