---
layout: default
---
<div class='fillW cell12'>
  <div class='margin1 cell3 pad1 cf'>
    <ul class="docs">
      {% for post in site.categories.[page.category] %}
        {% if {{post.lang}} == {{page.lang}} %}
        <li class='doc'>
          {% if {{post.cover}} %}
            <div class='cover'>
          {% endif %}
          <div class='title'><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></div>
          {% if {{post.cover}} %}
            </div>
          {% endif %}
        </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
  <div class='doc cell5 pad1 cf'>
    {{content}}
  </div>
</div>