---
layout: default
---
<div id='moo' class='cell12'>
  <div id='divider' class='marginL cell9 pad1'>
    <div class='cell4'>
      <a class='moo1' href='{{site.baseurl}}/{{page.lang}}/beginner'>
        <span>{{site.translations.[page.lang].buttons.begspan}}</span>
        {{site.translations.[page.lang].buttons.beg}}
      </a>
    </div>
    <div class='cell4'>
      <a class='moo2' href='{{site.baseurl}}/{{page.lang}}/intermediate'>
         <span>{{site.translations.[page.lang].buttons.interspan}}</span>
         {{site.translations.[page.lang].buttons.inter}}
       </a>
    </div>
    <div class='cell4'>
      <a class='moo3' href='{{site.baseurl}}/{{page.lang}}/advanced'>
        <span>{{site.translations.[page.lang].buttons.advspan}}</span>
        {{site.translations.[page.lang].buttons.adv}}
      </a>
    </div>
  </div>
</div>
<div id='front-text' class='cell12'>
  <div class='marginL cell9 pad1'>
    <form class='searchbox rounded'>
      <span class='logo search-icon'></span>
      <input id='search-field' type='text' name='search' class='default-value cell10'></input>
    </form>
  </div>
  <div class='marginL marginR cell5 pad1'>
    <h4 class='tagtitle'>{{ site.translations.[page.lang].tagtitle }}</h4>
    <p class='tagwords'>{{ site.translations.[page.lang].tagintro }}</p>
  </div>
  <div class='faqbox cell3 pad1'>
    <h4>Common questions</h4>
    <ul class='faq'>
      <li><a href='#'>{{site.translations.[page.lang].faqs.a}}</a></li>
      <li><a href='#'>{{site.translations.[page.lang].faqs.b}}</a></li>
      <li><a href='#'>{{site.translations.[page.lang].faqs.c}}</a></li>
      <li><a href='#'>{{site.translations.[page.lang].faqs.d}}</a></li>
      <li><a href='#'>{{site.translations.[page.lang].faqs.e}}</a></li>
  </div>
</div>
{% include banner.html %}

<script>
// format the search bar
  var input = $(".searchbox input[type=text]"),
    inputTitle = "What are you looking for?"; //needs tranlation
    input.val(inputTitle);

  input.blur(function() {
  if (input.val() === "") {
      input.val(inputTitle); // restore default text
      input.addClass("default-value");
  }
  }).focus(function() {
    if (input.val() === inputTitle) {
        input.val("");
        input.removeClass("default-value");
    }
  });

  $.getJSON("{{site.baseurl}}/{{page.lang}}.json",function(data){
    var destination;
    $( "#search-field" ).autocomplete({
     autoFocus: true,
     delay: 0,
     source: data,
     select: function(event, o) {
       destination = '{{site.baseurl}}/' + o.item.url;
       window.location = destination;
     }
    });
  });

</script>